<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>RDF4J SPARQL Endpoint</display-name>

  <servlet>
    <servlet-name>SPARQLEndpointServlet</servlet-name>
    <servlet-class>com.musislch.ties4520.SPARQLEndpointServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SPARQLEndpointServlet</servlet-name>
    <url-pattern>/api/query</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>